body{
    background-color: red;
}

@media (max-width: 600px){
    body{
        background-color: burlywood;
    }
}
@media (max-width: 400px) {
    body{
        background-color: green;
    }
}

/* 
Media query for differet screen:
    @media only screen and (max-width : 600px) {} => extra small devices (phones)
    @media only screen and (min-width : 600px) {} => small devices (large phones)
    @media only screen and (min-width : 768px) {} => Medium devices (tablet)
    @media only screen and (min-width : 992px) {} => large devices (laptops/desktop)
    @media only screen and (min-width : 1200px) {} => extra large devices (large laptops/desktop)
    

*/